
.notification {
    position: absolute;
    z-index: 10;
    padding: 16px;
    right: 0;
    top: 16px;
    backdrop-filter: blur(30px);
    background: #0000004A;
    border-radius: 8px;
    overflow: hidden;

    & p {
        color: #E5E5E5;
        font-size: 13px;
        line-height: 16px;
    }
}
