
.form {
    background: #0000004A;
    backdrop-filter: blur(30px);
    padding: 40px;
    border-radius: 24px;
}

.form-content {
    position: relative;
    z-index: 2;
}

.form-content-file {
    min-width: 345px;
}

.form-content-input {
    background: #0000004A;
    border-radius: 8px;
    padding: 12px;
    color: white;
}

.form-content-input-desc {
    height: 151px;
}

.form-content-input-large {
    min-width: calc(50% - 8px);
}

.form-content-input-qty {
    max-width: 100px;
}

.form-content-input-time {
    min-width: calc(100% / 3 - (48px / 3));
}

.form-content-button {
    background: #6B5DFF;
    padding: 10px 24px;
    border-radius: 4px;
}

p {
    font-size: 15px;
    line-height: 20px;
    color: #E5E5E5;
}

.dropzone-file {
    background: #0000004A;
    border-radius: 8px;
    padding: 24px;
    height: 255px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p, svg {
        color: #7C7C7C;
        text-align: center;
    }

    svg {
        margin: 0 auto;
    }

    span {
        font-weight: 510;
    }
}

.dropzone-file-label {
    padding: 16px 0;
}

.dropzone-file-sublabel {
    font-size: 13px;
    line-height: 16px;
}
