
.form {
    background: #0000004A;
    backdrop-filter: blur(30px);
    padding: 40px;
    border-radius: 24px;
}

.formContent {
    position: relative;
    z-index: 2;
}

.formContentFile {
    min-width: 345px;
}

.formContentInput {
    background: #0000004A;
    border-radius: 8px;
    padding: 12px;
    color: white;
}

.formContentInputDesc {
    height: 151px;
}

.formContentInputLarge {
    min-width: calc(50% - 8px);
}

.formContentInputQty {
    max-width: 100px;
}

.formContentInputTime {
    min-width: calc(100% / 3 - (48px / 3));
}

.formContentButton {
    background: #6B5DFF;
    padding: 10px 24px;
    border-radius: 4px;
}

.form p {
    font-size: 15px;
    line-height: 20px;
    color: #E5E5E5;
}

.dropzoneFile {
    background: #0000004A;
    border-radius: 8px;
    padding: 24px;
    height: 255px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p, svg {
        color: #7C7C7C;
        text-align: center;
    }

    svg {
        margin: 0 auto;
    }

    span {
        font-weight: 510;
    }
}

.dropzoneFileLabel {
    padding: 16px 0;
}

.dropzoneFileSublabel {
    font-size: 13px;
    line-height: 16px;
}

.textSecondary {
    color: #7C7C7C;
}

.roundedButton {
    border-radius: 50%;
    background: #6155F5;
    border: none;
    font-family: inherit;
    text-align: center;
    cursor: pointer;
    transition: 0.4s;

    span {
        color: #E5E5E5;
    }
}

.roundedButton:hover {
    box-shadow: 0 0 24px 0 #6361F266;
}

.roundedButton:active {
    transform: scale(0.97);
    box-shadow: 0 0 24px 0 #6361F266;
}

.buttonMinus {
    min-width: 36px;
    min-height: 36px;
}
