.button {
    padding: 16px 24px;
    border-radius: 8px;
    background: #6155F5;
    border: none;
    font-family: inherit;
    text-align: center;
    cursor: pointer;
    transition: 0.4s;
}

.button:hover {
    box-shadow: 0 0 24px 0 #6361F266;
}

.button:active {
    transform: scale(0.97);
    box-shadow: 0 0 24px 0 #6361F266;
}
