.ellipse {
    position: absolute;
}

.ellipse-one {
    background: #6361F2;
    filter: blur(600px);
    width: 1100px;
    height: 1100px;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.add-title {
    font-size: 50px;
    line-height: 59px;
    padding: 24px 0;
    color: #E5E5E5;
}
