.recipe-grid {
    border-radius: 12px;
    padding: 40px;
    background: #FFFFFF1A;
}

.wrapperListTitle {
    font-size: 50px;
    line-height: 59px;
    padding: 24px 0;
    color: #E5E5E5;
}

.wrapperListCard {
    background: #0000004A;
    backdrop-filter: blur(30px);
    padding: 40px;
    border-radius: 16px;
    cursor: pointer;
}

.wrapperListCardTitle {
    font-size: 28px;
    line-height: 34px;
    color: #E5E5E5;
    font-weight: 600;
    padding-bottom: 24px;
}

.wrapperListCardDescription {
    font-size: 15px;
    line-height: 20px;
    color: #E5E5E5;
    padding-bottom: 24px;
}
